[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = v3_req
distinguished_name = dn
[ dn ]
# Country Code
C=Morocco
# State
ST=Tetouan
# Citry
L=Tetouan
# Organization
O=USMBA
# Organizational Unit
OU=.
# Email Address
emailAddress = "benmahria.bilal@gmail.com"
# Name
CN=bilal

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
# Web Id
URI = "bilal_ben_mahria"
